@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #128C7E;
	--dark-color-b: #3bb882;
	--light-color: #e6ffcc;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
.bgclass{
	height:90vh;
	width:100%;

}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	
	z-index: -1;
}
.wave2{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

/*.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	border-radius: 7px;
	
	
}*/
.btn{
	display: block;
	padding: 5px 15px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	
	text-transform: uppercase;

	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

/* Chat Page */

.chat-container {
	
	
	max-width: 1100px;
	background: #25D366;
	margin: 30px auto;
	overflow: hidden;
	box-shadow: 0 20px 30px grey;
	border-radius: 6px;
	
}

.chat-header {
	background: var(--dark-color-a);
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height:69vh;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	font-size: 15px;
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 100%;
	overflow-y: scroll;
	background-color: white;
}


.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message1 {
	overflow-y: none;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
	background-color: #77f289;
	border-radius: 20px;
	font-size: 13px;
	opacity: 0.6;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
}

#Red{
	color: Red;
}

#Blue{
	color: Blue;
}


#Yellow{
	color: Yellow;
}

#Green{
	color: Green;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}




@media (max-width: 700px) {
	
	body{
		margin:0px;
	}

	.chat-main {
		display: block;
		background-color: white;
	}

	.chat-sidebar {
		display: none;
	}
	.chat-container{
		margin:0px;
	}
	.wave{
		display:none;
	}
	.wave2{
		display:none;
	}

}
#chattitle{
	color:white;
}
#msg{
	border-radius: 7px;
}

@media screen and (max-width: 400px){
	.chat-form-container{
	    
	    padding:3%;
	}
	.btn{
		padding: 5px 10px;
		font-size: 10px;
	}
	#chattitle{
		font-size: 1.5em;

	}
}
